*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: lightpink;
}

body{
    border: 5px solid rgb(131, 182, 248);
}

/* Container */

.container{
    width: 100%;
}

.container h1{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
    width: 50%;
    margin: 0 auto;
}

.container .images{
    display: flex;
    margin: 0 80px;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.images img{
    border: 2px solid black;
    margin-bottom: 20px;
    width: 20%;
}